# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environments
venv/
bincom2/venv/
lib/


# Django stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
static/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
Scrip